*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
}